<!--  NAVBAR  -->
<app-navbar [showSearch]="true"></app-navbar>
<!--  END NAVBAR  -->

<!--  BOOKS BACK  -->
<div
  style="
    height: calc(100dvh - var(--navbar-height));
    top: var(--navbar-height);
    background-image: url(./assets/books32.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  "
></div>
<!--  END BOOKS BACK -->

<!--  QUOTE -->
<div
  style="
    position: absolute;
    height: calc(100dvh - var(--navbar-height));
    width: 60%;
    top: var(--navbar-height);
    right: 0;
    padding: 8%;
    padding-top: 15%;
    background: #30220c;
    background: radial-gradient(
      circle at bottom,
      #30220c 15%,
      #27190b 40%,
      #191207 90%
    );
    z-index: 1;
  "
>
  <div style="text-align: right; max-width: 800px">
    <p
      style="
        color: var(--accent-color);
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 1rem;
        font-size: 2.5rem;
        line-height: 1.3;
        font-style: italic;
      "
    >
      "A room without books is like a body without a soul."
    </p>
    <p
      style="
        color: var(--accent-color);
        font-family: 'Libre Baskerville', serif;
        margin: 0;
        font-size: 1.25rem;
        font-weight: 400;
      "
    >
      - Marcus Tullius Cicero
    </p>
  </div>
</div>
<!--  END QUOTE -->

<!--  BOOKS FRONT -->
<div
  style="
    position: absolute;
    height: calc(100dvh - var(--navbar-height));
    width: 100%;
    top: var(--navbar-height);
    background-image: url(./assets/books-front.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  "
></div>
<!--  END BOOKS FRONT -->

<!--  TOOLBAR -->
<div
  #toolbar
  style="
    position: sticky;
    padding-left: 16px;
    padding-right: 16px;
    height: var(--toolbar-height);
    top: var(--navbar-height);
    z-index: 2;
    background-color: var(--accent-color);
    display: flex;

    align-items: center;
  "
>
  <!--  TOGGLE FILTERS  -->
  <button
    [style.display]="isSticky ? 'block' : 'none'"
    mat-button
    (click)="sidenav.toggle()"
    style="
      width: 96px;
      border-radius: 5px !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
      height: calc(var(--toolbar-height) - 10px);
    "
  >
    {{ sideNavOpened ? 'Hide filters' : 'Show filters' }}
  </button>
  <!--  END TOGGLE FILTERS  -->

  <mat-divider
    vertical
    [style.display]="isSticky ? 'block' : 'none'"
    style="height: 20px; margin-left: 10px; margin-right: 20px"
  ></mat-divider>

  <!-- ORDER BY -->
  <form
    [style.display]="isSticky ? 'block' : 'none'"
    style="
      height: calc(var(--toolbar-height) - 10px);
      display: flex;
      align-content: center;
    "
  >
    <label for="orderBy" class="sidebar-font" style="color: #005cbb"
      >Order by:</label
    >
    <select
      [(ngModel)]="sortOption"
      (change)="applySort()"
      id="orderBy"
      name="orderBy"
      class="sidebar-font"
      style="
        margin-left: 10px;
        padding-left: 5px;
        padding-right: 5px;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;
        background-color: var(--primary-color);
      "
    >
      <option value="" selected>No order</option>
      <option value="priceAsc">Price ascending</option>
      <option value="priceDesc">Price descending</option>
    </select>
  </form>
  <!--  END ORDER BY  -->
</div>
<!--  END TOOLBAR  -->

<mat-sidenav-container>
  <!--  SIDEBAR -->
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="sideNavOpened"
    [style.visibility]="isSticky ? 'visible' : 'hidden'"
    [autoFocus]="false"
    [fixedInViewport]="true"
    fixedTopGap="64"
    style="border-radius: 0; background-color: var(--accent-color)"
  >
    <!--  SECTION FOR BOX SHADOW  -->
    <section
      style="
        height: 40px;
        background-color: var(--accent-color);
        box-shadow: 0px 3px 7px rgba(25, 18, 7, 0.3);
      "
    ></section>
    <!--  SECTION FOR BOX SHADOW  -->
    <app-sidebar-content></app-sidebar-content>
  </mat-sidenav>
  <!-- END SIDEBAR  -->

  <!-- CONTENT  -->
  <mat-sidenav-content>
    <!--  CAROUSEL  -->

    <!--  END CAROUSEL  -->

    <!--  BOOKS  -->
    <ng-container>
      <div
        style="
          display: grid;
          padding: 20px;
          padding-top: 25px;
          padding-bottom: 25px;
          grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
          min-height: calc(
            100dvh - var(--navbar-height) - var(--toolbar-height) - 56px
          );
          gap: 16px;
          background: var(--secondary-color);
        "
      >
        @if (books | async; as paginatedBooks) { @for (book of paginatedBooks;
        track book.id) {
        <mat-card
          (click)="openBookDetails(book.id)"
          style="
            border: 1px solid var(--primary-color);
            border-radius: 4px;
            width: 100%;
            height: 420px;
            padding: 10px;
            background: var(--primary-color);
            cursor: pointer;
          "
        >
          <mat-card-header style="padding: 0; border: none">
            <img
              mat-card-image
              role="button"
              src="assets/book.png"
              alt="{{ book.title }} cover"
              style="
                height: 160px;
                width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                object-fit: cover;
              "
            />
          </mat-card-header>

          <mat-card-content style="padding: 8px">
            <h5
              style="
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              "
            >
              {{ book.title }}
            </h5>
            <p
              style="
                font-size: 14px;
                margin-bottom: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              "
            >
              Author: {{ book.authorId }}
            </p>
            <p style="font-size: 14px; margin-bottom: 4px">
              Category: {{ book.categoryId }}
            </p>
            <p style="font-size: 14px; margin-bottom: 4px">
              Price: {{ book.price }} lei
            </p>
            <p style="font-size: 14px; margin-bottom: 4px">
              Stock: {{ book.stock }}
            </p>
            <p style="font-size: 14px; margin-bottom: 4px">
              Rating: {{ book.rating }}
            </p>
            <p style="font-size: 14px; margin-bottom: 4px">
              Published: {{ book.publicationDate }}
            </p>
            <!-- Stops the opening of bookDetails page-->
            <button (click)="toggleFavorite(book.id); $event.stopPropagation()">
              {{ getFavoriteButtonText(book.id) }}
            </button>
            <!-- Stops the opening of bookDetails page-->
            <button (click)="addToCart(book.id); $event.stopPropagation()">
              Add to cart
            </button>
          </mat-card-content>
        </mat-card>
        } }
      </div>
    </ng-container>
    <!--  PAGINATION  -->
    <mat-paginator
      #paginator
      [length]="filteredBooks.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[25, 50, 100]"
      (page)="onPageChange($event)"
      style="
        background-color: var(--accent-color);
        font-size: 14px !important;
        font-family: 'Roboto';
      "
    >
    </mat-paginator>
    <!--  END PAGINATION  -->
    <!--  END BOOKS -->
  </mat-sidenav-content>
  <!--  END CONTENT  -->
</mat-sidenav-container>
