/* You can add global styles to this file, and also import other style files */

:root {
  --navbar-height: 64px;
  --toolbar-height: 40px;

  --primary-color: #d2b186;
  --secondary-color: #191207;
  --light-color: #f0e9de;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
