/* You can add global styles to this file, and also import other style files */
:root {
  --navbar-height: 64px;
  --toolbar-height: 40px;

  --primary-color: #f0e9de;
  --secondary-color: #191207;
  --accent-color: #d2b186;
  --contrast-color: #6997d0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
