<!--  NAVBAR  -->
<app-navbar></app-navbar>
<!--  END NAVBAR  -->

@if (orders | async; as orders) {
<div>
  <h2>My Orders</h2>
  @for (order of orders; track order.id) {
  <div class="order-card">
    <h3>Order id #{{ order.id }}</h3>
    <p>Status: {{ order.status }}</p>
    <p>Total: {{ order.totalPrice | currency }}</p>
    <p>Created: {{ order.createdAt }}</p>

    <ul>
      @for (item of order.items; track item.id) {
      <li>
        Product: {{ item.id }}, Quantity: {{ item.quantity }}, Subtotal: {{
        item.priceAtPurchase }} lei
      </li>
      }
    </ul>
  </div>
  }
</div>
} @else {
<ng-template #loading>
  <p>Loading orders...</p>
</ng-template>
}
