<!--  NAVBAR  -->
<app-navbar [showSearch]="false"></app-navbar>
<!--  END NAVBAR  -->

<div
  style="
    position: sticky;
    top: var(--navbar-height);
    background-color: var(--accent-color);
    height: 5px;
    width: 100%;
  "
></div>

<div
  style="
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: calc(100dvh - var(--navbar-height) - 5px);
    padding: 25px;
    background-color: var(--secondary-color);
    background: radial-gradient(
      circle at center,
      #30220c 20%,
      #27190b 60%,
      #191207 90%
    );
  "
>
  <section style="flex: 2">
    <section
      class="custom-font"
      style="
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        background-color: var(--primary-color);
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 18px;
      "
    >
      <div style="flex: 4">Product information</div>
      <div style="flex: 2; text-align: center">Quantity</div>
      <div style="flex: 2; text-align: center">Price</div>
      <div style="flex: 1; text-align: right">Remove</div>
    </section>
    @if (cartItems.length > 0) { @for (cartItem of cartItems; track cartItem.id)
    {

    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--primary-color);
        height: 150px;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        justify-self: center;
        border-radius: 5px;
      "
    >
      <!--  BOOK INFORMATION  -->
      <section style="flex: 4; display: flex; flex-direction: row">
        <img
          mat-card-image
          [routerLink]="['/books', cartItem.bookId]"
          role="button"
          src="assets/book.png"
          alt="{{ cartItem.bookTitle }} cover"
          style="height: 100%; object-fit: cover; margin-right: 20px"
        />
        <div style="align-content: center">
          <div style="font-family: 'Roboto'; font-weight: 500; font-size: 25px">
            {{ cartItem.bookTitle }}
          </div>
          <div style="font-family: 'Roboto'; font-size: 18px">
            {{ cartItem.authorName }}
          </div>
        </div>
      </section>
      <!--  END BOOK INFORMATION-->

      <!--  QUANTITY  -->
      <section
        style="
          flex: 2;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <div style="display: flex">
          <button
            mat-icon-button
            (click)="decrementCartItemQuantity(cartItem.id!)"
            [disabled]="cartItem.quantity == 1 ? true : false"
          >
            <mat-icon
              style="margin-bottom: 3px"
              class="remove-icon"
              [style.color]="cartItem.quantity == 1 ? '#babab9' : 'inherit'"
            >
              remove
            </mat-icon>
          </button>
          <div
            class="custom-font"
            style="
              font-size: 18px;
              margin-left: 10px;
              margin-right: 10px;
              align-content: center;
            "
          >
            {{cartItem.quantity }}
          </div>
          <button
            mat-icon-button
            (click)="incrementCartItemQuantity(cartItem.id!)"
          >
            <mat-icon style="margin-bottom: 3px" class="add-icon">
              add
            </mat-icon>
          </button>
        </div>
      </section>
      <!--  END QUANTITY  -->

      <!--  PRICE-->
      <section style="flex: 2; align-content: center; font-size: 18px">
        <div class="custom-font" style="text-align: center">
          {{ (cartItem.price * cartItem.quantity) | number: '1.2-2' }} lei
        </div>
      </section>
      <!--  END PRICE -->

      <!--  REMOVE BUTTON -->
      <section
        style="
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        "
      >
        <button
          mat-icon-button
          aria-label="Clear"
          (click)="removeFromCart(cartItem.id!)"
          class="clear-icon"
          style="
            background-color: transparent;
            border: none;
            margin-right: 10px;
          "
        >
          <mat-icon style="margin-bottom: 3px">clear</mat-icon>
        </button>
      </section>
      <!--  END REMOVE BUTTON -->
    </div>
    } }
  </section>

  <!--  CART INFO SECTION  -->
  <section style="flex: 1; padding-left: 25px">
    <div
      style="
        display: flex;
        flex-direction: column;
        position: sticky;
        top: calc(var(--navbar-height) + 5px + 25px);
        background-color: var(--primary-color);
        border-radius: 5px;
        height: 220px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      "
    >
      <div
        class="custom-font"
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 50px;
          font-size: 18px;
        "
      >
        Order summary
      </div>
      <mat-divider></mat-divider>
      <div style="margin-top: 15px">
        Cost of products:
        <span class="custom-font">{{ total | number:'1.2-2' }} lei</span>
      </div>
      <div>
        Delivery cost:
        <span class="custom-font"
          >{{ cartItems.length > 0 ? '15.00 lei' : '0 lei'}}</span
        >
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          margin-top: auto;
          padding-bottom: 19px;
        "
      >
        <div class="custom-font" style="align-self: center; font-size: 20px">
          Total: {{ (cartItems.length > 0 ? (total + 15) : (total + 0)) |
          number:'1.2-2' }} lei
        </div>
        <button
          mat-stroked-button
          [routerLink]="['/checkout']"
          class="custom-button"
          style="font-size: 16px"
        >
          <span style="font-size: 20px">>></span> Continue to checkout
        </button>
      </div>
    </div>
  </section>
  <!--  END CART INFO SECTION  -->
</div>
